@model RazorPagesDotCMS.Models.Contentlet
@{
    // Extract common banner properties from AdditionalProperties
    var imageUrl = "/dA/" + Model.Identifier + "/image/1200maxw/1200cw/570ch/80q/13ro/" + Model.Title;
        
    var linkUrl = Model.AdditionalProperties?.TryGetValue("link", out var linkValue) == true && linkValue.ValueKind == System.Text.Json.JsonValueKind.String
        ? linkValue.GetString()
        : "";

    var layout = Model.AdditionalProperties?.TryGetValue("layout", out var layoutValue) == true && layoutValue.ValueKind == System.Text.Json.JsonValueKind.Number
        ? layoutValue.GetInt32()
        : 1;
        
    var altText = Model.AdditionalProperties?.TryGetValue("altText", out var altValue) == true && altValue.ValueKind == System.Text.Json.JsonValueKind.String
        ? altValue.GetString()
        : Model.Title;
        
    var buttonText = Model.AdditionalProperties?.TryGetValue("buttonText", out var buttonTextValue) == true && buttonTextValue.ValueKind == System.Text.Json.JsonValueKind.String
        ? buttonTextValue.GetString()
        : "";
}


<div class="banner banner-image-holder" style="border-radius: 1em; background-image: url('@Html.Raw(imageUrl)');" alt="@altText">
    @if (!string.IsNullOrEmpty(linkUrl))
    {
        <a href="@linkUrl" class="banner-link">
            <div class="banner-content">
                @if (!string.IsNullOrEmpty(Model.Title))
                {
                    <h2 class="banner-title">@Model.Title</h2>
                }
                @if (!string.IsNullOrEmpty(buttonText))
                {
                    <div class="banner-description">@Html.Raw(buttonText)</div>
                }
            </div>
        </a>
    }
    else
    {
        <div class="banner-content">
            @if (!string.IsNullOrEmpty(Model.Title))    
            {
                <h2 class="banner-title">@Model.Title</h2>
            }
            @if (!string.IsNullOrEmpty(buttonText))
            {
                <div class="banner-description">@Html.Raw(buttonText)</div>
            }
        </div>
    }
</div>
